<!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Sign In</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="sign-form">
              <div class="sign-inner">
                <h3 class="first-child">Sign In To Your Account</h3>
                <hr>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                	<% if notice %>
                		<p class="notice"><%= notice %></p>
                	<% end %>
                	<% if alert %>
                		<p class="alert"><%= alert %></p>
                	<% end %>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.email_field :email, autofocus: true,  class: "form-control", placeholder: "Enter email", title: "", required: ""  %>
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password, autocomplete: "off",  class: "form-control", placeholder: "Password", title: "", required: "" %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
				    <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_me %> Remember me
                    </label>
                  </div>
				  <% end -%>
                  
                  <%= f.submit "Sign In",  class: "btn btn-red" %>
                  <!-- <hr> -->
                <% end %>
                <p>Not registered? <a href="<%= new_user_registration_path %>">Create an Account.</a></p>
                <!-- <div class="pwd-lost">
                  <div class="pwd-lost-q show">Lost your password? <a href="<%= new_user_password_path %>">Click here to recover.</a></div>
                  <div class="pwd-lost-f hidden">
                    <p class="text-muted">Enter your email address below and we will send you a link to reset your password.</p>
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <label class="sr-only" for="email-pwd">Email address</label>
                        <input type="email" class="form-control" id="email-pwd" placeholder="Enter email">
                      </div>
                      <button type="submit" class="btn btn-blue">Send</button>
                    </form>
                  </div>
                </div> --> <!-- / .pwd-lost -->
              </div>
            </div>
          </div>
        </div> <!-- / .row -->      
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->
